<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Comments</title>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <!-- my custom CSS goes here -->
      <link rel="stylesheet" href="css/site.css">
    </head>
    <body>
      <h1 id="pagetitle">Book Information</h1>
      <nav>
        <a class="nav_links" href="index.html">Home</a>
        <a class="nav_links" href="profile.html">Profile</a>
        <a class="nav_links" href="bookinfo.html">Book Information</a>
        <a class="nav_links" href="old.html">Previous HW Page</a>
        <a class="nav_links" href="dscomments.html">Bad Comments</a>
        <a class="nav_links" href="comments.html">Comments</a>
      </nav>

<!-- <div class="container-fluid">
    <div class="row" id="commentsapp">
      <div class="col-lg-3 col-md-3 col-sm-3 col-ex-3">
        <div class="Comments" v-for='comment in comments'>
          <span class="id"> Id: {{ Comments.commentId }}</span>,<br/>
          <span class="commentText"> Id: {{ Comments.commentText }}</span>
        </div><br/>
      </div>
    </div>

    <form v-on:submit.prevent="createComment()">
      <div class="Comments">
        <label for="id"> Id </label>
        <input type="text" v-model="newComments.commentId" class="form-control" id="Comments.commentId" placeholder="Type id here">
        <label for="commentText"> Comment </label>
        <input type="text" v-model="newComments.commentText" class="form-control" id="Comments.commentText" placeholder="Type comments here">
      </div><br/>
      <input type="submit" value="Add Comment" class="button">
    </form>
</div> -->

<div id="commentsapp">
  <table id="commentTable" class="sort table ttable-hover">
    <thead>
      <tr>
        <th>Comment Id</th>
        <th>Comment Text</th>
      </tr>
    </thead>
    <tbody id="commentTableBody">
      <tr v-for="c in oldComments">
        <td>{{ c.id }}</td>
        <td>{{ c.commentText }}</td>
        <td>{{ c.id }}</td>
        <td>{{ c.commentText }}</td>
      </tr>
    </tbody>
  </table>

  <h3>Adding Comments:</h2><br>
  <form id="newCommentForm" v-on:submit.prevent="createComment()">
    <label for="newComment">Comment</label><br>
      <input id="commentText" type="text" v-model="newComment.commentText"><br>
    <input id="submitNewComment" type="submit" value="Submit Comment" class="btn btn-primary">
  </form>
</div>



    <!-- <div class="container-fluid">
      <div class="row" id="triagePage">
        <div id="cardPaneLeft" class="col cardPane cardPaneLeft">
          <form method="post" v-on:submit.prevent="handleNewPtForm">
            <h3>Create New Patient Record</h3>

            <div class="form-group">
            <label for="newPtFirstName">First Name</label>
            <input type="text" v-model="newPtForm.firstName" class="form-control" id="newPtFirstName" placeholder="Jane">
          </div>
          <div class="form-group">
            <label for="newPtLastName">Last Name</label>
            <input type="text" v-model="newPtForm.lastName" class="form-control" id="newPtLastName" placeholder="Doe">
          </div>
          <div class="form-group">
            <label for="newPtDob">DOB</label>
            <input type="text" v-model="newPtForm.dob" class="form-control" id="newPtDob" placeholder="2020-01-02">
          </div>
          <div class="form-group">
            <label for="newPtSexAtBirth">Sex at Birth</label>
            <select class="form-control" v-model="newPtForm.sexAtBirth" id="newPtSexAtBirth">
              <option value="M">Male</option>
              <option value="F">Female</option>
              <option value="O">Other/Unknown</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Create</button>

          </form>

          <h3>List of all patients</h3>

          <div class="patientCard" v-for="pt in ptList" v-on:click="activePt = pt">
            <span class="lastName">{{ pt.lastName }}</span>,
            <span clas="firstName">{{ pt.firstName }}</span>
            <span class="birthDate float-right">{{ pt.dob }}</span>
          </div>

           <button v-on:click="yell()">Click Me!</button> -->
        <!-- </div>

        <div class="col-6">
          <h1>New Visit</h1>
          <form v-on:submit.prevent="handleTriageForm">
            <div class="form-group">
              <label for="ptName">Patient Name</label>
              <input class="form-control" id="ptName" v-bind:value="activePtName" readonly>

            </div>

          <div class="form-group">
            <label for="visitDate">Visit Date</label>
            <input type="text" class="form-control" id="visitDate" v-model="triageForm.visitDate" placeholder="">
          </div>

          <div class="form-group">
            <label for="visitPriority">Priority</label>
            <select class="form-control" id="visitPriority" v-model="triageForm.priority">
              <option value="high">Critical</option>
              <option value="medium">Urgent</option>
              <option value="low">Non-urgent</option>
            </select>
          </div>
          <div class="form-group">
            <label for="visitSymptoms">Patient Symptoms</label>
            <textarea class="form-control" id="visitSymptoms" rows="5" v-model="triageForm.visitDescription"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>

        </form>
        </div>
        <div class="col cardPane cardPaneRight">
          <h3>Waiting patients</h3>
          <div v-for="visit in visitList" v-bind:class="'patientCard ' + priorityClass(visit.priority)" v-bind:data-patient_guid="visit.patientGuid" :data-visit_id="visit.visitId">
            (<span class="lastName">{{ visit.sexAtBirth }}</span>
            <span class="lastName">{{ age(visit.dob) }}</span>)
            <span class="lastName">{{ visit.lastName }}</span>,
            <span clas="firstName">{{ visit.firstName }}</span><br />
            <span class="text-right">Arrived {{ dateSince(visit.visitDateUtc) }}</span>
          </div>

        </div>
      </div>
    </div> -->
    <!-- END content -->

    <!-- Footer? Insert here -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/comments.app.js"></script>

  </body>
</html>
